@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 350px;
  width: 350px;
  max-width: 350px;
  overflow: scroll;
}
.navbar {
  max-height: 2.5rem;
  min-height: 2.5rem;
  height: 2.5rem;
}
.alert {
  padding: 0.25rem;
}
.stats {
  width: 100%;
}

.card-title {
  text-align: center;
  justify-content: center;
}

.violet-pink {
  background-color: rgb(197, 16, 239);
  color: #fff;
  border-color: transparent;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s,
    border-color 0.2s ease 0s;
}

.violet-pink:hover {
  background-color: rgb(170, 35, 219);
  border-color: transparent;
}

.navbar {
  min-height: 50px;
}
